*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}
#main
{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(whitesmoke,gray,black);
   
}
#up
{
    flex: 2;
    margin-top: 30px;
    
}
#center
{
    flex: 8;
    padding-left: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
}

#display
{
    font-size: 130px;
    color: black;
   
}
#i
{
    height: 120px;
}
@media only screen and (max-width: 400px)
 {
    *
    {
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
        
    }
    #main
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
       
    }
    #up
    {
       flex: 2;
        margin-top: 10px;
        
    }
    #center
    {
       flex: 8;
        margin-top: 90px;
        margin-bottom: 31px;
      
    }
    #display
    {
        font-size: 40px;
    }
    #i
    {
        height: 90px;
    }
 }